/* it will ensure uniform styling across browsers, 
it  will resets the margin and padding of all elements to zero.  */
* {
    margin: 0;
    padding: 0;
}

/* header styling */
/* from line 9 to 86 header and its components are styled */
header {
    background-color: #262626;
    /* it will change the background color to #262626;*/
    width: auto;
    /* width auto property will adjust header width accounding to screen size */
    height: 50px;
    /* this property will give the hight to header*/
    display: flex;
    /* it will disply header components horizontally */
}

/* contact-info styling */
.contact-info {

    color: rgba(255, 255, 255, 0.602);
    /* it will change the background color to 255, 255, 255, 0.602;*/
    position: relative;
    /* it will help the element to change the position   */
    left: 100px;
    /* it will change the position of contact-info to 100px from left */
    top: 15px;
    /* it will change the position of contact-info to 15px from top */
    font-weight: bold;
    /* it will make the font bold */
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    /* it will change the font family to Franklin Gothic Medium, Arial Narrow, Arial, sans-serif */
    font-size: 18px;
    /* it will change the font size to 18px */
    display: flex;
    /* it will display the contact-info components horizontally */
    gap: 5px;
    /* it will add a gap of 5px between the components */
    width: fit-content;
    /* it will adjust the width of contact-info according to its content */
}

.contact-info:hover {
    color: white;
    /* it will change the color of contact-info to white when user hover on it */
}

/* ontact-info img styling */
.contact-info img {
    width: 37px;
    /* it will change the width of contact-info img to 37px */
    height: 27px;
    /* it will change the height of contact-info img to 27px */
    object-fit: contain;
    /* it will make the image fit in the container */
    transition: filter 0.3s ease;
    /* it will add a smooth transition effect to the image */
    margin-top: -1px;
    /* it will change the position of contact-info img to -1px from top */
}

.contact-info img:hover {
    filter: brightness(0) invert(1);
    /* it will change the brightness of contact-info img to 0 and invert it when user hover on it */
}

.contact-info img,
.contact-info span {
    transition: all 0.3s ease;
    /* it will add a smooth transition effect to the contact-info img and span */
}

/* Target the first pair on hover */
.contact-info:hover img:first-of-type,
.contact-info:hover span:first-of-type {
    color: white;
    /* it will change the color of contact-info img and span to white when user hover on it */
    filter: brightness(0) invert(1);
    /* it will change the brightness of contact-info img to 0 and invert it when user hover on it */
}

/* Target the second pair on hover — if you hover the image or span directly */
.contact-info img:nth-of-type(2):hover,
.contact-info span:nth-of-type(2):hover {
    color: white;
    /* it will change the color of contact-info img and span to white when user hover on it */
    filter: brightness(0) invert(1);
    /* it will change the brightness of contact-info img to 0 and invert it when user hover on it */
}

/* social-icons styling */
.social-icons {
    width: 272px;
    /* it will change the width of social-icons to 272px */
    height: 50px;
    /* it will change the height of social-icons to 50px */
    display: flex;
    /* it will display the social-icons components horizontally */
    justify-content: center;
    /* it will center the social-icons components */
    align-items: center;
    /* it will align the social-icons components vertically */
    position: relative;
    /* it will help the element to change the position   */
    left: 815px;
    /* it will change the position of social-icons to 815px from left */
    gap: 15px;
    /* it will add a gap of 15px between the social-icons components */
}

/* social-icons img styling */
.social-icons img {
    width: 23px;
    /* it will change the width of social-icons img to 23px */
    height: 25px;
    /* it will change the height of social-icons img to 25px */
    transition: filter 0.3s ease;
    /* it will add a smooth transition effect to the social-icons img */
}

.social-icons img:hover {
    filter: brightness(0) invert(1);
    /* it will change the brightness of social-icons img to 0 and invert it when user hover on it */
}


.navbar {

    width: auto;
    /* it will adjust the width of navbar according to screen size */
    height: 50px;
    /* it will change the height of navbar to 50px */
    display: flex;
    /* it will display the navbar components horizontally */
    justify-content: space-between;
    /* it will space the navbar components evenly */
    align-items: center;
    /* it will align the navbar components vertically */
    padding: 0 10px;
    /* it will add padding to the navbar */
}

/* Navbar menu styling */
.navbar ul {
    list-style: none;
    /* it will remove the bullet points from the list */
    padding: 0;
    /* it will remove the padding from the list */
    margin: 0;
    /* it will remove the margin from the list */
    display: flex;
    /* it will display the navbar components horizontally */
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    /* it will change the font family of navbar to Franklin Gothic Medium, Arial Narrow, Arial, sans-serif */
    font-weight: bold;
    /* it will make the font bold */

}

.navbar li a {
    text-decoration: none;
    /* it will remove the underline from the links */
    color: #333;
    /* it will change the color of links to #333 */
    padding: 10px 15px;
    /* it will add padding to the links */
    display: inline-block;
    /* it will display the links as inline-block */
    transition: background-color 0.3s ease, color 0.3s ease;
    /* it will add a smooth transition effect to the links */
}

.navbar li a:hover {
    background-color: #333;
    /* it will change the background color of links to #333 when user hover on it */
    color: #fff;
    /* it will change the color of links to #fff when user hover on it */
    border-radius: 5px;
    /* it will add a border radius of 5px to the links */
}


.hamburger {
    display: none;
    /* it will hide the hamburger menu */
    font-size: 30px;
    /* it will change the font size of hamburger menu to 30px */
    cursor: pointer;
    /* it will change the cursor to pointer when user hover on it */
}







.hero {
    background-color: #dcdcdc;
    /* it will change the background color of hero to #dcdcdc */
    background-size: cover;
    /* it will cover the entire background of hero */
    background-position: center;
    /* it will center the background of hero */
    background-repeat: no-repeat;
    /* it will not repeat the background of hero */
    height: 600px;
    /* it will change the height of hero to 600px */
    width: auto;
    /* it will adjust the width of hero according to screen size */
}


.hero img {
    width: 578px;
    /* it will change the width of hero img to 578px */
    height: 547PX;
    /* it will change the height of hero img to 547px */
    object-fit: cover;
    /* it will make the image fit in the container */
    position: relative;
    /* it will help the element to change the position   */
    left: 683px;
    /* it will change the position of hero img to 683px from left */
    bottom: 372px;
    /* it will change the position of hero img to 372px from bottom */
}


.hero h2 {
    font-size: 34px;
    /* it will change the font size of hero h2 to 34px */
    color: #333;
    /* it will change the color of hero h2 to #333 */
    margin-top: 100px;
    /* it will change the position of hero h2 to 100px from top */
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    /* it will change the font family of hero h2 to Franklin Gothic Medium, Arial Narrow, Arial, sans-serif */
    width: fit-content;
    /* it will adjust the width of hero h2 according to its content */
    margin-left: 140px;
    /* it will change the position of hero h2 to 140px from left */
}


.hero h1 {
    font-size: 121px;
    /* it will change the font size of hero h1 to 121px */
    color: #333;
    /* it will change the color of hero h1 to #333 */
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    /* it will change the font family of hero h1 to Franklin Gothic Medium, Arial Narrow, Arial, sans-serif */
    width: 0;
    /* it will set the width of hero h1 to 0 */
    overflow: hidden;
    /* it will hide the overflow of hero h1 */
    white-space: nowrap;
    /* it will not wrap the text of hero h1 */
    margin-left: 132px;
    /* it will change the position of hero h1 to 132px from left */
    animation: typinganimation 4s steps(30) forwards, blink 0.9s infinite;
    /* it will add a typing animation to hero h1 */
}

@keyframes typinganimation {
    from {
        /* it will set the starting point of animation */
        width: 0;
    }

    /* typinganimation will start from 0  to length of h1 */
    to {
        width: 19ch;
    }

    /* typinganimation will work accouding to length of h1 */
}



.hero p {
    font-size: 20px;
    /* it will change the font size of hero p to 20px */
    color: #333;
    /* it will change the color of hero p to #333 */
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    /* it will change the font family of hero p to Franklin Gothic Medium, Arial Narrow, Arial, sans-serif */
    width: fit-content;
    /* it will adjust the width of hero p according to its content */
    margin-left: 140px;
    /* it will change the position of hero p to 140px from left */
    margin-top: 30px;
    /* it will change the position of hero p to 30px from top */

}


button {
    position: absolute;
    /* it will help the element to change the position   */
    left: 140px;
    /* it will change the position of button to 140px from left */
    width: 155px;
    /* it will change the width of button to 155px */
    height: 45px;
    /* it will change the height of button to 45px */
    margin-top: 20px;
    /* it will change the position of button to 20px from top */
    transition: all 0.3s ease;
    /* it will add a smooth transition effect to the button */
    /* use  transition peoperty of css for Smooth transition */
    font-weight: bolder;
    background-color: #f9c809;
    /* it will change the background color of button to #F9C809 */
    border: none;
}


button:hover {
    transform: scale(1.1);
    /* scale up when user slightly  hover  on button*/
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    /* it will add a soft shadow  to button*/
    background-color: black;
    color: #F9C809;
    /* it will change the color of button to #F9C809 */
    cursor: pointer;
}

.services-container {
    background-color: #262626;
    /* it will change the background color of services-container to #262626 */
    width: auto;
    /* it will adjust the width of services-container according to screen size */
    height: 900px;
    /* it will change the height of services-container to 900px */
}

.services-container h1 {
    color: #F9C809;
    /* it will change the color of services-container h1 to #F9C809 */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* it will change the font family of services-container h1 to Franklin Gothic Medium, Arial Narrow, Arial, sans-serif */
    font-size: 50px;
    /* it will change the font size of services-container h1 to 50px */
    position: relative;
    /* it will help the element to change the position   */
    left: 620px;
    /* it will change the position of services-container h1 to 620px from left */
    width: fit-content;
    /* it will adjust the width of services-container h1 according to its content */
}

.services-grid {
    display: grid;
    /* it will display the services-grid components vertically */
    grid-template-columns: repeat(4, 1fr);
    /* it will create 4 columns of equal width */
    gap: 15px;
    /* it will add a gap of 15px between the services-grid components */
}

.tile {
    border-radius: 10px;
    /* it will add a border radius of 10px to the tile */
    padding: 15px;
    /* it will add padding to the tile */
    min-height: 120px;
    /* it will set the minimum height of tile to 120px */
    animation: floating 2s ease-in-out infinite;
    /* it will add a floating animation to the tile */
}


.service-1 {
    background-image: url('/Minimalist Seaweed Composition.jpeg');
    /* it will change the background image of service-1 to Minimalist Seaweed Composition */
    background-size: cover;
    /* it will cover the entire background of service-1 */
    background-position: center;
    /* it will center the background of service-1 */
    background-repeat: no-repeat;
    /* it will not repeat the background of service-1 */
    background-color: #A6D189;
    /* it will change the background color of service-1 to #A6D189 */
    color: #000;
    /* it will change the color of service-1 to #000 */
    display: flex;
    /* it will display the service-1 components horizontally */
    align-items: center;
    /* it will align the service-1 components vertically */
    justify-self: center;
    /* it will center the service-1 components */
    width: 346px;
    /* it will change the width of service-1 to 346px */
    height: 296px;
    /* it will change the height of service-1 to 296px */
    margin-top: 60px;
    /* it will change the position of service-1 to 60px from top */
}

.service-1 p {
    font-size: 20px;
    /* it will change the font size of service-1 p to 20px */
    color: #ffffff;
    /* it will change the color of service-1 p to #ffffff */
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    /* it will change the font family of service-1 p to Franklin Gothic Medium, Arial Narrow, Arial, sans-serif */

    width: fit-content;
    /* it will adjust the width of service-1 p according to its content */
    height: fit-content;
    /* it will adjust the height of service-1 p according to its content */
    margin: 8px 0 0 90px;
    /* it will change the position of service-1 p to 8px from top and 90px from left */
    font-weight: bold;
    /* it will make the font bold */
}


.service-2 {
    background-image: url('/Focused Runner Conquering Hillside Trail.jpeg');
    /* it will change the background image of service-2 to Focused Runner Conquering Hillside Trail */
    background-size: cover;
    /* it will cover the entire background of service-2 */
    background-position: center;
    /* it will center the background of service-2 */
    background-repeat: no-repeat;
    /* it will not repeat the background of service-2 */
    background-color: #fff;
    /* it will change the background color of service-2 to #fff */
    color: #000;
    /* it will change the color of service-2 to #000 */
    display: flex;
    /* it will display the service-2 components horizontally */
    align-items: center;
    /* it will align the service-2 components vertically */
    justify-content: center;
    /* it will center the service-2 components */
    height: 530px;
    /* it will change the height of service-2 to 530px */
    margin-top: 60px;
    /* it will change the position of service-2 to 60px from top */
    width: 332px;
    /* it will change the width of service-2 to 332px */
}

.service-2 p {
    font-size: 20px;
    /* it will change the font size of service-2 p to 20px */
    color: #ffffff;
    /* it will change the color of service-2 p to #ffffff */
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    /* it will change the font family of service-2 p to Franklin Gothic Medium, Arial Narrow, Arial, sans-serif */
    width: fit-content;
    /* it will adjust the width of service-2 p according to its content */
    height: fit-content;
    /* it will adjust the height of service-2 p according to its content */
    font-weight: bold;
    /* it will make the font bold */
}


.service-3 {
    background-image: url('/istockphoto-1175815326-612x612.jpg');
    /* it will change the background image of service-3 to istockphoto-1175815326-612x612 */
    background-size: cover;
    /* it will cover the entire background of service-3 */
    background-position: center;
    /* it will center the background of service-3 */
    background-repeat: no-repeat;
    /* it will not repeat the background of service-3 */
    grid-column: span 2;
    /* it will span the service-3 component to 2 columns */
    grid-row: span 2;
    /* it will span the service-3 component to 2 rows */
    height: 352px;
    /* it will change the height of service-3 to 352px */
    margin-top: 60px;
    /* it will change the position of service-3 to 60px from top */
    width: 631px;
    /* it will change the width of service-3 to 631px */
    margin-left: -677px;
    /* it will change the position of service-3 to -677px from left */
}

.service-3 p {
    font-size: 20px;
    /* it will change the font size of service-3 p to 20px */
    color: #ffffff;
    /* it will change the color of service-3 p to #ffffff */
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    /* it will change the font family of service-3 p to Franklin Gothic Medium, Arial Narrow, Arial, sans-serif */
    width: fit-content;
    /* it will adjust the width of service-3 p according to its content */
    height: fit-content;
    /* it will adjust the height of service-3 p according to its content */
    margin: 159px 0 0 251px;
    /* it will change the position of service-3 p to 159px from top and 251px from left */
    font-weight: bold;
    /* it will make the font bold */
}


.service-4 {
    background-image: url('/Dancer in Motion.jpeg');
    /* it will change the background image of service-4 to Dancer in Motion */
    background-size: cover;
    /* it will cover the entire background of service-4 */
    background-position: center;
    /* it will center the background of service-4 */
    background-repeat: no-repeat;
    /* it will not repeat the background of service-4 */
    display: flex;
    /* it will display the service-4 components horizontally */
    align-items: center;
    /* it will align the service-4 components vertically */
    justify-content: center;
    /* it will center the service-4 components */
    height: 100px;
    /* it will change the height of service-4 to 100px */
    margin-top: -234px;
    /* it will change the position of service-4 to -234px from top */
}

.service-4 p {
    font-size: 20px;
    /* it will change the font size of service-4 p to 20px */
    color: #ffffff;
    /* it will change the color of service-4 p to #ffffff */
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    /* it will change the font family of service-4 p to Franklin Gothic Medium, Arial Narrow, Arial, sans-serif */
    width: fit-content;
    /* it will adjust the width of service-4 p according to its content */
    height: fit-content;
    /* it will adjust the height of service-4 p according to its content */
    margin-top: 8px;
    /* it will change the position of service-4 p to 8px from top */
    font-weight: bold;
    /* it will make the font bold */
}


.service-5 {
    background-image: url('/Cybernetic Stride_ A Portrait of Resilience.jpeg');
    /* it will change the background image of service-5 to Cybernetic Stride_ A Portrait of Resilience */
    background-size: cover;
    /* it will cover the entire background of service-5 */
    background-position: center;
    /* it will center the background of service-5 */
    background-repeat: no-repeat;
    /* it will not repeat the background of service-5 */
    color: #000;
    /* it will change the color of service-5 to #000 */
    display: flex;
    /* it will display the service-5 components horizontally */

    flex-direction: column;
    /* it will change the direction of service-5 components to column */
    justify-content: space-between;
    /* it will space the service-5 components evenly */
    width: 334px;
    /* it will change the width of service-5 to 334px */
}

.service-5 p {
    font-size: 20px;
    /* it will change the font size of service-5 p to 20px */
    color: #ffffff;
    /* it will change the color of service-5 p to #ffffff */
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    /* it will change the font family of service-5 p to Franklin Gothic Medium, Arial Narrow, Arial, sans-serif */
    width: fit-content;
    /* it will adjust the width of service-5 p according to its content */
    height: fit-content;
    /* it will adjust the height of service-5 p according to its content */
    margin: 40px 0 0 90px;
    /* it will change the position of service-5 p to 40px from top and 90px from left */
    font-weight: bold;
    /* it will make the font bold */
}


.service-6 {
    background-image: url("/group-fitness-dark-theme.jpg");
    /* it will change the background image of service-6 to group-fitness-dark-theme */
    background-size: cover;
    /* it will cover the entire background of service-6 */
    background-position: center;
    /* it will center the background of service-6 */
    background-repeat: no-repeat;
    /* it will not repeat the background of service-6 */
    color: #000;
    /* it will change the color of service-6 to #000 */
    margin-top: -236px;
    /* it will change the position of service-6 to -236px from top */
    height: 191px;
    /* it will change the height of service-6 to 191px */
}

.service-6 p {
    font-size: 20px;
    /* it will change the font size of service-6 p to 20px */
    color: #ffffff;
    /* it will change the color of service-6 p to #ffffff */
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    /* it will change the font family of service-6 p to Franklin Gothic Medium, Arial Narrow, Arial, sans-serif */
    width: fit-content;
    /* it will adjust the width of service-6 p according to its content */
    height: fit-content;
    /* it will adjust the height of service-6 p according to its content */
    margin: 90px 0 0 90px;
    /* it will change the position of service-6 p to 90px from top and 90px from left */
    font-weight: bold;
    /* it will make the font bold */
}


.service-7 {
    background-image: url('/Focused Athletic Woman.jpeg');
    /* it will change the background image of service-7 to group-fitness-dark-theme */

    background-size: cover;
    /* it will cover the entire background of service-7 */
    background-position: center;
    /* it will center the background of service-7 */
    background-repeat: no-repeat;
    /* it will not repeat the background of service-7 */
    color: #000;
    /* it will change the color of service-7 to #000 */
    display: flex;
    /* it will display the service-7 components horizontally */
    align-items: center;
    /* it will align the service-7 components vertically */
    justify-content: center;
    /* it will center the service-7 components */
    width: 633px;
    /* it will change the width of service-7 to 633px */
    height: 285px;
    /* it will change the height of service-7 to 285px */
    margin-top: -338px;
    /* it will change the position of service-7 to -338px from top */
    margin-left: 374px;
    /* it will change the position of service-7 to 374px from left */
}

.service-7 p {
    font-size: 20px;
    /* it will change the font size of service-7 p to 20px */
    color: #ffffff;
    /* it will change the color of service-7 p to #ffffff */
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    /* it will change the font family of service-7 p to Franklin Gothic Medium, Arial Narrow, Arial, sans-serif */
    width: fit-content;
    /* it will adjust the width of service-7 p according to its content */
    height: fit-content;
    /* it will adjust the height of service-7 p according to its content */
    margin: 8px 0 0 50px;
    /* it will change the position of service-7 p to 8px from top and 50px from left */
    font-weight: bold;
    /* it will make the font bold */
}






@keyframes floating {
    0% {
        transform: translateY(0px);
        /* it will set the starting point of animation */
    }

    50% {
        transform: translateY(-50px);
        /* it will set the middle point of animation */
    }

    100% {
        transform: translateY(0px);
        /* it will set the ending point of animation */
    }
}








.container2 {
    display: flex;
    /* it will display the container2 components horazantaly */
    align-items: center;
    /* it will align the container2 components to center of screen or div */
    justify-content: center;
    /* it will justify the container2 components to center of screen or div */
    gap: 58px;
    /* it will add a gap of 58px between the container2 components */

    width: auto;
    /* it will adjust the width of container2 according to screen size */
    background-color: #dcdcdc;
    /* it will change the background color of container2 to #dcdcdc */

}

.box10 {
    width: 379px;
    /* it will change the width of box10 to 379px */
    height: 790px;
    /* it will change the height of box10 to 790px */
    background: linear-gradient(to top, #262626 70%, #F9C809 95%, #F9C809 100%);
    /* it will change the background of box10 to linear gradient from #262626 to #F9C809 */
    position: relative;
    /* it will help the element to change the position   */
    margin-top: 20px;
    /* it will change the position of box10 to 20px from top */
    border-radius: 10px;
    /* it will add a border radius of 10px to the box10 */
}



.box10 img {
    width: 344px;
    /* it will change the width of box10 img to 344px */
    height: 294px;
    /* it will change the height of box10 img to 294px */
    position: relative;
    /* it will help the element to change the position   */
    top: 22px;
    /* it will change the position of box10 img to 22px from top */
    left: 19px;
    /* it will change the position of box10 img to 19px from left */
}

.box10 h1 {
    font-size: 30px;
    /* it will change the font size of box10 h1 to 30px */
    color: #F9C809;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    /* it will change the font family of box10 h1 to Franklin Gothic Medium, Arial Narrow, Arial, sans-serif */
    width: fit-content;
    /* it will adjust the width of box10 h1 according to its content */
    height: fit-content;
    /* it will adjust the height of box10 h1 according to its content */
    margin-top: 306px;
    /* it will change the position of box10 h1 to 306px from top */
    margin-left: 20px;
    /* it will change the position of box10 h1 to 20px from left */
    font-weight: bold;
    /* it will make the font bold */
}

.box10 p {
    font-size: 20px;
    /* it will change the font size of box10 p to 20px */
    color: #ffffff;
    /* it will change the color of box10 p to #ffffff */
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    /* it will change the font family of box10 p to Franklin Gothic Medium, Arial Narrow, Arial, sans-serif */
    width: fit-content;
    /* it will adjust the width of box10 p according to its content */
    height: fit-content;
    /* it will adjust the height of box10 p according to its content */
    margin-top: 8px;
    /* it will change the position of box10 p to 8px from top */
    margin-left: 20px;
    /* it will change the position of box10 p to 20px from left */
    text-decoration: underline;
    /* it will underline the text of box10 p */
    font-weight: bold;
    /* it will make the font bold */
}

.box10 li {
    font-size: 17px;
    /* it will change the font size of box10 li to 17px */
    color: #ffffff;
    /* it will change the color of box10 li to #ffffff */
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    /* it will change the font family of box10 li to Franklin Gothic Medium, Arial Narrow, Arial, sans-serif */
    width: fit-content;
    /* it will adjust the width of box10 li according to its content */
    height: fit-content;
    /* it will adjust the height of box10 li according to its content */

    margin-top: 19px;
    /* it will change the position of box10 li to 19px from top */
    margin-left: 20px;
    /* it will change the position of box10 li to 20px from left */
}

.box10 li:hover {
    text-decoration: underline;
    /* it will underline the text of box10 li when user hover on it */
}

.box10 h2 {
    font-size: 20px;
    /* it will change the font size of box10 h2 to 20px */
    color: #ffffff;
    /* it will change the color of box10 h2 to #ffffff */
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    /* it will change the font family of box10 h2 to Franklin Gothic Medium, Arial Narrow, Arial, sans-serif */
    width: fit-content;
    /* it will adjust the width of box10 h2 according to its content */
    height: fit-content;
    /* it will adjust the height of box10 h2 according to its content */
    margin-top: 19px;
    /* it will change the position of box10 h2 to 19px from top */
    margin-left: 20px;
    /* it will change the position of box10 h2 to 20px from left */
    text-decoration: underline;
    /* it will underline the text of box10 h2 */
    font-weight: bold;
    /* it will make the font bold */
}

.box10 button {
    color: white;
    /* it will change the color of box10 button to white */
    width: 147px;
    /* it will change the width of box10 button to 147px */
    height: 40px;
    /* it will change the height of box10 button to 40px */
    border: none;
    /* it will remove the border of box10 button */
    border-radius: 8px;
    /* it will add a border radius of 8px to the box10 button */
    font-size: 14px;
    /* it will change the font size of box10 button to 14px */
    cursor: pointer;
    /* it will change the cursor to pointer when user hover on it */
    background: #F9C809;
    /* it will change the background color of box10 button to #F9C809 */
    margin-left: -127px;
    /* it will change the position of box10 button to -127px from left */
    transition: box-shadow 0.3s ease;
    /* it will add a smooth transition effect to the box10 button */
}

.box10 button:hover {
    box-shadow: 0 0 15px 3px#F9C809;
    /* it will add a soft shadow to box10 button when user hover on it */
    color: black;
    /* it will change the color of box10 button to black */
}


.small-div p {
    width: 145px;
    /* it will change the width of small-div p to 145px */
    height: 28px;
    /* it will change the height of small-div p to 28px */
    background-color: rgb(19, 16, 16);
    /* it will change the background color of small-div p to rgb(19, 16, 16) */
    margin-top: -304px;
    /* it will change the position of small-div p to -304px from top */
    display: flex;
    /* it will display the small-div p components horazantaly */
    align-items: center;
    /* it will align the small-div p components to center of screen or div */

    justify-content: center;
    /* it will justify the small-div p components to center of screen or div */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* it will change the font family of small-div p to Franklin Gothic Medium, Arial Narrow, Arial, sans-serif */
    font-weight: bold;
    /* it will make the font bold */
    color: #F9C809;
    /* it will change the color of small-div p to #F9C809 */
    margin-left: -27px;
    /* it will change the position of small-div p to -27px from left */
    text-decoration: none;
    /* it will remove the underline from the text of small-div p */
}


.client-stories {
    width: auto;
    /* it will adjust the width of client-stories according to screen size */
    height: 500px;
    /* it will change the height of client-stories to 500px */
    background-color: #F9C809;
    /* it will change the background color of client-stories to #F9C809 */
    position: relative;
    /* it will help the element to change the position   */
    overflow: hidden;
    /* it will hide the overflow of client-stories */
    display: flex;
    /* it will display the client-stories components horazantaly */
    justify-content: center;
    /* it will justify the client-stories components to center of screen or div */
    align-items: center;
    /* it will align the client-stories components to center of screen or div */
    gap: 15px;
    /* it will add a gap of 15px between the client-stories components */
}


.client-stories h1 {
    position: absolute;
    /* it will help the element to change the position   */
    top: 6px;
    /* it will change the position of client-stories h1 to 6px from top */
    text-align: center;
    /* it will center the text of client-stories h1 */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* it will change the font family of client-stories h1 to Franklin Gothic Medium, Arial Narrow, Arial, sans-serif */
    font-weight: bold;
    /* it will make the font bold */
    font-size: 50px;
    /* it will change the font size of client-stories h1 to 50px */
    width: 100%;
    /* it will adjust the width of client-stories h1 according to screen size */
}


.client-grid {
    display: grid;
    /* it will display the client-grid components vertically */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* it will create 4 columns of equal width */

    gap: 20px;
    /* it will add a gap of 20px between the client-grid components */
    justify-items: center;
    /* it will center the client-grid components */
    padding: 100px 20px 20px 20px;
    /* it will add padding to the client-grid components */
}


.client-box {
    width: 312px;
    /* it will change the width of client-box to 312px */
    height: 400px;
    /* it will change the height of client-box to 400px */
    background-color: #262626;
    /* it will change the background color of client-box to #262626 */
    border-radius: 10px;
    /* it will add a border radius of 10px to the client-box */
    display: flex;
    /* it will display the client-box components horazantaly */
    flex-direction: column;
    /* it will display the client-box components vertically */
    justify-content: center;
    /* it will justify the client-box components to center of screen or div */
    align-items: center;
    /* it will align the client-box components to center of screen or div */
    position: relative;
    /* it will help the element to change the position   */
    top: 20px;
    /* it will change the position of client-box to 20px from top */
    flex-shrink: 0;
    /* it will prevent the client-box from shrinking */
    opacity: 1;
    /* it will set the opacity of client-box to 1 */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* it will add a smooth transition effect to the client-box */
}

.client-box img {
    width: 238px;
    /* it will change the width of client-box img to 238px */
    height: 210px;
    /* it will change the height of client-box img to 210px */
    margin-top: -24px;
    /* it will change the position of client-box img to -24px from top */
    border-radius: 10px;
    /* it will add a border radius of 10px to the client-box img */
}

.client-box p {
    font-size: 12px;
    /* it will change the font size of client-box p to 12px */
    color: #ffffff;
    /* it will change the color of client-box p to #ffffff */
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    /* it will change the font family of client-box p to Franklin Gothic Medium, Arial Narrow, Arial, sans-serif */
    text-align: justify;
    /* it will justify the text of client-box p */
    width: 300px;
    /* it will change the width of client-box p to 300px */
    margin-top: 10px;
    /* it will change the position of client-box p to 10px from top */
    font-weight: bold;
    /* it will make the font bold */
    opacity: 1;
    /* it will set the opacity of client-box p to 1 */
}

.client-box h2 {
    font-size: 20px;
    /* it will change the font size of client-box h2 to 20px */
    color: #ffffff;
    /* it will change the color of client-box h2 to #ffffff */
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    /* it will change the font family of client-box h2 to Franklin Gothic Medium, Arial Narrow, Arial, sans-serif */
    margin-top: 19px;
    /* it will change the position of client-box h2 to 19px from top */

    font-weight: bold;
    /* it will make the font bold */
    opacity: 1;
    text-align: center;
}

.client-box:hover {
    transform: scale(1.05);
    /* scale up when user slightly  hover  on client-box*/
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    /* it will add a soft shadow  to client-box*/
}

.client-box:hover img {
    transform: scale(1.05);
    /* scale up when user slightly  hover  on client-box img*/
    transition: transform 0.3s ease;
    /* it will add a smooth transition effect to the client-box img */
}

.client-box:hover p,
.client-box:hover h2 {
    color: #F9C809;
    transition: color 0.3s ease;
}


footer {
    background-color: #262626;
    /* it will change the background color of footer to #262626 */
    height: 200px;
    /* it will change the height of footer to 200px */
    width: auto;
    /* it will adjust the width of footer according to screen size */
    /* display: flex; */
    /* it will display the footer components horizontally */
    justify-content: center;
    /* it will center the footer components */
    align-items: center;
    /* it will align the footer components vertically */
}

footer {
    background-color: #222;
    /* it will change the background color of footer to #222 */
    color: #fff;
    /* it will change the color of footer to #fff */
    padding: 20px 0;
    /* it will add padding to the footer */
    text-align: center;
    /* it will center the text of footer */
}

footer ul {
    list-style: none;
    /* it will remove the bullet points from the list */
    padding: 0;
    /* it will remove the padding from the list */
    margin: 0;
    /* it will remove the margin from the list */
    display: flex;
    /* it will display the footer components horizontally */
    justify-content: center;
    /* it will center the footer components */
    gap: 30px;
    /* it will add a gap of 30px between the footer components */
    MARGIN-BOTTOM: 20px;
    /* it will add a margin of 20px to the bottom of the list */
}

footer ul li a {
    text-decoration: none;
    /* it will remove the underline from the links */
    color: #fff;
    /* it will change the color of links to #fff */
    font-weight: bold;
    /* it will make the font bold */
    transition: color 0.3s ease;
    /* it will add a smooth transition effect to the links */
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    /* it will change the font family of links to Franklin Gothic Medium, Arial Narrow, Arial, sans-serif */
    position: relative;
    /* it will help the element to change the position   */
    top: 80px;
    /* it will change the position of links to 80px from top */
}

footer ul li a:hover {
    color: #F9C809;
}

.copyright {
    margin-top: 95px;
    font-size: 14px;
    color: #aaa;
    text-align: center;
    /* makes sure it's centered */
}